In [9]:
%load_ext autoreload
%autoreload 2

from src.data import survey_stats

import pathlib
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.float_format', '{:.4f}'.format)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
df = pd.read_csv('../data/raw/BAI_and_browsers.csv')

survey_text = pd.read_json(
    "../data/processed/BAI_and_browser_survey_text.json"
).set_index("name")

## Display t-test results and the descriptives

In [6]:
survey_stats.display_test_and_descs(df, survey_text, "BAI_tot", "Browser_used")

**Browser_used**

What browser do you use most often?

                   sum_sq    df         F    PR(>F)
Browser_used    28.194861   1.0  1.061486  0.305413
Residual      2603.045139  98.0       NaN       NaN

              count       mean       std   min   25%   50%    75%   max
Browser_used
Chrome         31.0  29.935484  5.609132  14.0  27.0  31.0  34.00  43.0
Firefox        35.0  30.942857  4.276769  23.0  27.5  30.0  34.00  39.0
Opera          34.0  31.264706  5.599290  21.0  28.0  31.5  34.75  43.0

## Display alongside question text

In [17]:
survey_stats.all_anovas_between_thrshs(
    df, survey_text, ["BAI_tot"], ["Browser_used", "cake_or_pie"], 1
)

# BAI_tot

**BAI_tot**

Beck Anxiety Inventory (BAI).  Below is a list of common symptoms of anxiety. Please carefully read each item in the list. Indicate how much you have been bothered by that symptom during the past month, including today, by circling the number in the corresponding space in the column next to each symptom.

**Browser_used**

What browser do you use most often?

                sum_sq      df      F  PR(>F)
Browser_used   27.4784  1.0000 0.9045  0.3439
Residual     2977.3616 98.0000    nan     nan

               count    mean    std     min     25%     50%     75%     max
Browser_used
Chrome       34.0000 29.7353 5.5613 19.0000 27.0000 29.5000 32.7500 41.0000
Firefox      31.0000 30.6452 5.9641 19.0000 26.0000 33.0000 35.0000 41.0000
Opera        35.0000 31.0000 5.1105 19.0000 29.0000 31.0000 35.0000 39.0000

<br>

**BAI_tot**

Beck Anxiety Inventory (BAI).  Below is a list of common symptoms of anxiety. Please carefully read each item in the list. Indicate how much you have been bothered by that symptom during the past month, including today, by circling the number in the corresponding space in the column next to each symptom.

**cake_or_pie**

Do you prefer cake or pie as a dessert?

               sum_sq      df        F  PR(>F)
cake_or_pie 1953.9616  1.0000 182.2173  0.0000
Residual    1050.8784 98.0000      nan     nan

              count    mean    std     min     25%     50%     75%     max
cake_or_pie
Cake        47.0000 25.7660 3.4967 19.0000 23.0000 27.0000 28.5000 30.0000
Pie         53.0000 34.6226 3.0649 31.0000 32.0000 34.0000 37.0000 41.0000

<br>

<br>

Can also just display significant tests - good for reports!

In [13]:
survey_stats.display_test_and_descs(df, survey_text, "BAI_tot", "cake_or_pie")

**cake_or_pie**

Do you prefer cake or pie as a dessert?

               sum_sq      df        F  PR(>F)
cake_or_pie 1953.9616  1.0000 182.2173  0.0000
Residual    1050.8784 98.0000      nan     nan

              count    mean    std     min     25%     50%     75%     max
cake_or_pie
Cake        47.0000 25.7660 3.4967 19.0000 23.0000 27.0000 28.5000 30.0000
Pie         53.0000 34.6226 3.0649 31.0000 32.0000 34.0000 37.0000 41.0000